.calendar {
  &-root {
    .ant-picker {
      &-content {
        text-align: center;
        tbody {
          border-left: 1px solid rgba(69, 190, 255, 0.3);
          border-bottom: 1px solid rgba(69, 190, 255, 0.3);
        }
      }
      &-cell {
        border-right: 1px solid rgba(69, 190, 255, 0.3);
        border-top: 1px solid rgba(69, 190, 255, 0.3);
        &:hover {
          background-color: rgba(69, 190, 255, 0.3);
          .calendar-cell-value {
            top: -4px;
            right: 4px;
            transform: translate(0, 0) !important;
          }
          .calendar-cell-notice {
            display: block;
          }
        }
      }
    }
  }
  &-cell {
    height: 96px;
    width: 100%;
    position: relative;
    overflow: hidden;
    &-title {
      text-align: left;
      padding-left: 6px;
      padding-top: 6px;
    }
    &-value,
    &-year-value {
      font-family: webfont1;
      text-align: right;
      font-size: 24px;
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate(50%, -50%);
    }
    &-notice {
      display: none;
      padding-top: 7px;
      line-height: 1.3;
    }
  }
  &-details-title {
    text-align: center;
    font-size: 24px;
    font-family: webfont1;
  }
  &-heading {
    text-align: center;
    font-size: 24px;
    font-family: webfont1;
    display: flex;
    margin: auto;
    width:300px;
    justify-self: center;
    items-align: center;
    padding-bottom: 12px;
    .ant-btn{
      border:none;
    }
  }
}
.form-item-list {
  .ant-form-item {
    margin-bottom: 0;
  }
  &.ant-form-item-has-error {
  }
}
