.appFooter {
  &-root {
    position: fixed;
    // z-index: -1;
    right: 12px;
    bottom: 12px;
    background-color:rgba(11, 34, 63, 0.9);
    width: 360px;
    height: 116px;
    border-top: 2px solid rgba(39,255,212,.8);
    border-bottom: 2px solid rgba(39,255,212,.8);
  }
  &-heading{
    padding:6px 12px 12px
  }
  &-item {
    text-align: center;
    &-cover {
      height: 36px;
      width: 36px;
      background-color: #005784;
      border-radius: 50%;
      display: inline-block;
    }
  }
}
