@import "~antd/dist/antd.less";

#root {
  height: 100%;
}

.bg-primary {
  background-color: #0b223f;
}

.pad {
  padding: 12px;
}

.panel {
  &-heading {
    background: rgba(69, 190, 255, 0.1);
    line-height: 30px;
    height: 30px;
    padding-left: 12px;
    border-left: 4px solid #32e9ff;
  }
  &-body {
    padding: 12px;
  }
}
